@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			
			<article>
				<section>
					<h2>@Model.ArticleTitle1</h2>
					<p>@Model.ArticleBodyText1</p>
				</section>
				<section>
					<h2>@Model.ArticleTitle2</h2>
					<p>@Model.ArticleBodyText2</p>
				</section>
			</article>

			
			<aside>
				<h3>@Model.AsideTitle</h3>
				<p>@Model.AsideText</p>
			</aside>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->
